// Modals

.negative-margin-top-250{
    margin-top: -250px !important;
}

.yellow-card {
    background-color:$lte-yellow;
    color:$lte-card-black;
}

.card-img-overlay {
    background-color: rgba(#000, 0.6);
}





