// Footer

.footer-light-grey {
  background-color: $footer-light-grey;
}

.footer-dark-grey {
  background-color: $footer-dark-grey;
}

.no-indent {
  list-style: none;
  padding-left: 0;
}

.footer-yellow {
  color: $footer-yellow
}

